<!DOCTYPE html>
<html>
<head>
    <link rel="short icon" href="/yyyyyyyyy.jpgg" />
    <link rel="stylesheet" type="text/css" href="/mongoForm.css">
	<title>Error Found</title>
</head>
<body>
<div class="head">
	    <span><h>Student Database</h></span>
        
	      <div class="form1">  
		       <div class="imgUp"><img src="/yyyyyyyyy.jpg"></div>
			   <div class="clear"></div>
	      </div>
</div>	      
<section>
<h1 >Oops!</h1>
<h2><%= description %></h2>
<h2>ERROR: <%= error %></h2>
Click here for login page:<a href='http://127.0.0.1:3000/htmlfirst.html'><input type="button" value="click here"></a>
</section>
<div class="error404"><img src="/photo0033.jpg"></div>
</body>
</html>